.ChatInput {
  width: 100%;
  background: linear-gradient(#eee, lightblue);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 lightblue;
  margin: 2% auto;
}

.InputForm {
  margin: 50px;
}

.ChatInput input {
    vertical-align: top;
    background-color: #008080;
    color: white;
    font: inherit;

    margin: 0 5px;
    width: 64px;
    height: 46px;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .ChatInput {
    width: 700px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .ChatInput {
    width: 450px;
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .ChatInput {
    width: 900px;
  }
}
