.Chat {
  width: 100%;
  margin: auto;
  height: 450px;
  overflow: scroll;
  text-align: left;
  /* background-color: #eee; */
  /* box-shadow: inset -15px 0 lightblue; */
}

@media (min-width: 500px) and (min-height: 400px) {
    .Chat {
        width: 450px;
        height: 300px;
    }
}

@media (min-width: 650px) and (min-height: 401px) {
    .Chat {
        width: 650px;
        height: 450px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Chat {
        width: 700px;
        height: 600px;
    }
}
